<!DOCTYPE html>
<html>

<head>
  <title>Uusi ilmoitus</title>
</head>

<body>
  <h1>Uusi ilmoitus</h1>
  <form action="/create_item" method="post">
    <p>
      <label for="make_and_model">Merkki ja malli</label>:<br />
      <input type="text" id="make_and_model" name="make_and_model" maxlength="50" required/>
    </p>
    {% for class in classes %}
    <p>
      {{ class }}: <br />
      <select name="classes" required>
        <option value="" disabled selected>Valitse</option>
      {% for option in classes[class] %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endfor %}
      </select>
    </p>
    {% endfor %}
    <p>
      <label for="location">Sijainti</label>:<br />
      <input type="text" id="location" name="location" size="5" required/>
    </p>
    <p>
      Vapaat ajat: <br />
      <label for="availability_start">Saatavilla alkaen:</label>
      <input type="date" id="availability_start" name="availability_start" required>

      <label for="availability_end">Saatavilla asti:</label>
      <input type="date" id="availability_end" name="availability_end" required>
    </p>
    <p>
      <label for="price">Hinta</label>:<br />
      <input type="text" id="price" name="price" size="5" pattern="[1-9][0-9]{0,4}" required/> €/päivä
    </p>
    <p>
      <label for="description">Lisätietoja</label>:<br />
      <textarea id="description" name="description" rows="8" cols="60" placeholder="Kerro tähän vapaasti lisätietoja ajoneuvosta ja ehdoistasi"></textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Luo ilmoitus" />
  </form>
</body>

</html>